<footer class="footer">
<div class="footer-top footer-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 footer-c1">
            <a href="/" class="footer-logo">
                <img src="{{ site.assets }}/images/logo-white.png" height="40px" />
            </a>
<ul class="w-list-unstyled ">
<li class="footer-title">Mail</li>
<li class="footer-data">
Unit 107<br>
Winchester Way<br>
Bolton<br>
Lancashire<br>
BL2 5AG
</li>
<li class="footer-title">Call</li>
<li class="footer-data">
    0345 0950 950
</li>
<li class="footer-title">Fax</li>
<li class="footer-data">
    0345 0950 955
</li>
<li class="footer-title">Email</li>
<li class="footer-data"><a class="footer-rc-link" href="mailto:contact@jsmedical.co.uk">contact@jsmedical.co.uk</a>
</li>
<li class="footer-title">Legal</li>
<li class="footer-data"><a class="footer-rc-link" href="mailto:legal@jsmedical.co.uk?subject=Legal%20Inquiry">legal@jsmedical.co.uk</a>
</li>
</ul>
        </div>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <p>Copyright &copy; {{ site.time | date: '%Y' }} JS Medical Solutions Ltd. Registered in England and Wales under company number 11275219.</p>
  </div>
</div>
</footer>
