{% assign url = page.url|remove:'index.html'|remove: '.html' %}
<header>
    <div class="container">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ site.url }}">
        <img src="{{ site.assets }}/images/logo.png" height="45px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

          {% for link in site.data.navigation['header'] %}
            <li class="nav-item {% if link.dropdown %}dropdown{% endif %} {% if url contains link.url %}active{% endif %}">
                <a class="nav-link {% if link.dropdown %}dropdown-toggle{% endif %}" href="{{ link.url }}" {% if link.dropdown %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
                    {% if link.icon != false %}<i class="{{ link.icon }}" aria-hidden="true"></i>&nbsp;{% endif %}{{ link.title }}
                </a>
                {% if link.dropdown %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for sublink in link.dropdown %}
                      <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
            </li>
          {% endfor %}
      </ul>
    </div>
  </nav>
  </div>
</header>
